ion-content{
  background: linear-gradient(to bottom, #52c234, #061700); 

}
h2{
  color: rgb(255, 255, 255);
  text-align: center;
  font-size:100px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  
}

p{
   color: rgb(255, 255, 255);
  text-align:center;
  font-size:60px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  
  
}