ion-content{
  background-image: url(https://cdn.jsdelivr.net/gh/paolofernandez090519/12C7@master/green-living.jpg);
background-size: 100% 100%;
}
h2{
  color: rgb(255, 255, 255);
  text-align: center;
  font-size:100px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  
}

p{
   color: rgb(255, 255, 255);
  text-align:center;
  font-size:60px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  
  
}